.App {
  text-align: center;
  margin-left:25%;
  margin-right:25%;
  margin-top: 3%;
  
}

.messageContainer {
  display:flex;
  background-color: black;
  justify-content: center;
  height: 80vh;
  border-radius: 1%;
  overflow-y: auto;

}

.messageInput {
  margin-top:1em;
}

.inputContainer {
  display:flex;

}

.inputBox {
  flex-grow:1;

}

.chat-box {
  font-size:11pt;
  max-width:90%;
  text-overflow: wrap;
  margin-top: 3%;
  text-align:left; 
}