.App {
  text-align: center;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid red;
}

.messageContainer {
  display:flex;
  justify-content: center;
  height: 80vh;
  border-radius: 1%;
  overflow-y: auto;
  border: 1px solid red;

}

.messageInput {
  margin-top:1em;
}

.inputContainer {
  display:flex;

}

.inputBox {
  flex-grow:1;

}

.chat-box {
  font-size: 1.3em;

  text-overflow: wrap;
  margin-top: 3%;
  text-align:left; 
}

.test {
  background-color: #005c4b !important;
  
  color: rgb(0, 0, 0) !important;
}

